<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminTools</title>
    <link rel="stylesheet" href="../resources/css/foundation.css">
    <link rel="stylesheet" href="../resources/css/app.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<br>
<br>
<br>
<br>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <A class="button primary hollow expanded" href="/Admin"><b> Заполнить справочники</b></A>
            <A class="button primary hollow expanded" href="/Admin"><b>Посмотреть зарегестрированных
                пользователей</b></A>
            <A class="button primary hollow expanded" href="/Admin"><b>Посмотреть все заявки</b></A>
            <A class="button primary hollow expanded" href="/Admin"><b>Зарегистрированные филиалы</b></A>
            <A class="button primary hollow expanded" href="/Admin"><b>Зарегистрированные подразделения</b></A>
            <div class="medium-3 cell">
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <script src="/resources/js/vendor/jquery.js"></script>
    <script src="/resources/js/vendor/what-input.js"></script>
    <script src="/resources/js/vendor/foundation.js"></script>
    <script src="/resources/js/app.js"></script>
</body>
</html>