<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operator Tools</title>

    <link rel="stylesheet" href="/resources/css/foundation.css">
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="grid-container">
    <div class="row">
        <div class="medium-3 columns">
        </div>
        <div class="medium-6 columns">
            <h1 th:text="#{operator.namePanel}">Панель оператора</h1>
        </div>
        <div class="medium-3 columns">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<script src="/resources/js/vendor/jquery.js"></script>
<script src="/resources/js/vendor/what-input.js"></script>
<script src="/resources/js/vendor/foundation.js"></script>
<script src="/resources/js/app.js"></script>
</body>
</html>