<!doctype html>
<html class="no-js" lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regUser</title>
    <link rel="stylesheet" href="/resources/css/foundation.css">
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<br>
<br>

<h2 align="center">зарегистрированные пользователи</h2>

<table>
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Фамилия пользователя</th>
        <th>Почта пользователя</th>
        <th>Пароль пользователя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${systemUsers}">
        <td th:text="${user.nameUser}"></td>
        <td th:text="${user.familyUser}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.passwordUser}"></td>

    </tr>
    </tbody>
</table>


<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <div class="expanded button-group">
                <A class="button primary " href="/Admin"> <b> Вернутся на главную
                    страницу админки</b> </A>
            </div>
            <div class="medium-3 cell">
            </div>
        </div>
    </div>
</div>


<script src="/resources/js/vendor/jquery.js"></script>
<script src="/resources/js/vendor/what-input.js"></script>
<script src="/resources/js/vendor/foundation.js"></script>
<script src="/resources/js/app.js"></script>
</body>
</html>